<!--TODO: this is where child views get output, if needed
<router-outlet></router-outlet>
-->
<div class="lrs-sub-header empty">
</div>
<div class="lrs-body container-fluid">
    <div class="row">
        <div class="col-xs-3 exceptions-col-filters">
            <div class="panel panel-default lrs-panel-secondary">
                <div class="panel-body">

                    <cross-filter-view [dimensions]="filterDimensions" [dataSource]="exceptionsObservable"></cross-filter-view>

                </div>
            </div>
        </div>
        <div class="col-xs-9 exceptions-col-content">
            <div class="panel panel-default lrs-panel-primary exceptions-panel-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Exception List ({{filteredExceptions.length}})</h3>
                    <button class="btn btn-danger" (click)="bulkCancel()" *ngIf="canBulkCancel">Bulk Cancel Filtered List</button>
                </div>
                <div class="panel-body">
                    <div *ngIf="!filteredExceptions.length" class="lrs-no-results">
                        <span class="small" aria-label="no results">No results found</span>
                    </div>

                    <pagination-controls id="exceptionList" autoHide="true" (pageChange)="pageNumber = $event"></pagination-controls>

                    <table *ngIf="filteredExceptions.length"
                           class="table table-bordered outer-bordered header-less-bordered exceptions-table">
                        <thead>
                        <tr>
                            <th class="exception-case-number-col">
                                <a href="javascript:void(0);" class="small" aria-label="Case Number"
                                   (click)="sort('caseNumber')">Case Number</a>
                            </th>
                            <th class="exception-borrower-col">
                                <a href="javascript:void(0);" class="small" aria-label="Borrower Name"
                                   (click)="sort('borrowerName')">Borrower Name</a>
                            </th>
                            <th class="exception-lender-col">
                                <a href="javascript:void(0);" class="small" aria-label="Lender Name"
                                   (click)="sort('lenderName')">Lender Name</a>
                            </th>
                            <th class="exception-review-type-col">
                                <a href="javascript:void(0);" class="small" aria-label="Review Type"
                                   (click)="sort('reviewType')">Review Type</a>
                            </th>
                            <th class="exception-selection-reason-col">
                                <a href="javascript:void(0);" class="small" aria-label="Selection Reason"
                                   (click)="sort('selectionReason')">Selection Reason</a>
                            </th>
                            <th class="exception-risk-col">
                                <a href="javascript:void(0);" class="small" aria-label="Risk Score"
                                   (click)="sort('riskScore')">Risk Score</a>
                            </th>
                            <th class="exception-exception-type-col">
                                <a href="javascript:void(0);" class="small" aria-label="Exception Type"
                                   (click)="sort('exceptionType')">Exception Type</a>
                            </th>
                            <th class="exception-days-col">
                                <a href="javascript:void(0);" class="small" aria-label="Days On List"
                                   (click)="sort('daysOnList')">Days On List</a>
                            </th>
                            <th class="exception-resolve-col">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let exception of sortedFilteredExceptions | paginate: { itemsPerPage: 100, currentPage: pageNumber, id: 'exceptionList' }">
                            <td class="exception-case-number-col">
                                <a class="small lrs-ellipsis" *ngIf="exception.reviewId"
                                   [routerLink]="['/review', exception.reviewId]">
                                    {{exception.caseNumber}}
                                </a>
                                <span class="small lrs-ellipsis" *ngIf="!exception.reviewId">
                                        {{exception.caseNumber}}
                                    </span>
                            </td>
                            <td class="exception-borrower-col">
                                <span class="small" aria-label="Borrower Name">{{exception.borrowerName}}</span>
                            </td>
                            <td class="exception-lender-col">
                                <span class="small" aria-label="Lender Name">{{exception.lenderName}}</span>
                            </td>
                            <td class="exception-review-type-col">
                                <span class="small" aria-label="Review Type">{{exception.reviewType}}</span>
                            </td>
                            <td class="exception-selection-reason-col">
                                <span class="small" aria-label="Selection Reason">{{exception.selectionReason}}</span>
                            </td>
                            <td class="exception-risk-col">
                                <span class="small" aria-label="Risk Score">{{exception.riskScore}}</span>
                            </td>
                            <td class="exception-exception-type-col">
                                <span class="small" aria-label="Exception Type">{{exception.exceptionType}}</span>
                            </td>
                            <td class="exception-days-col">
                                <span class="small" aria-label="Days On List">{{exception.daysOnList}}</span>
                            </td>
                            <td class="exception-resolve-col">
                                <!-- HUDLRS-4116: disabling this button for past-due binders until we have implemented
                                     proper handling of what happens when a binder arrives in the mail after the exception
                                     is resolved by cancelling the selection -->
                                <button type="button"
                                        *ngIf="exception.exceptionTypeCode !== exceptionType.VETTING_ACKNOWLEDGEMENT &&
                                                   exception.exceptionTypeCode !== exceptionType.BINDER_REQUEST_PAST_DUE"
                                        class="btn btn-secondary lrs-small"
                                        (click)="resolve(exception)">
                                    <span class="small" aria-label="Resolve">Resolve</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <pagination-controls id="exceptionList" autoHide="true" (pageChange)="pageNumber = $event"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>

<modal [(isOpen)]="distributeData.isOpen"
       confirmText="Distribute"
       [closeOnSave]="false"
       title="Distribute {{distributeData.distributeType}}"
       (confirmChange)="save(distributeData.exception)"
       (isOpenChange)="!$event ? resetDistributeData() : null"
       [hasCancelButton]="false">
    <form class="modal-inner-body container-fluid">
        <div class="row modal-inner-body-info">
            <div class="col-xs-12">
                <span *ngIf="!distributeData.exception.batchInfo" class="small">Select an eligible Review Location to distribute this loan selection.</span>
                <span *ngIf="!!distributeData.exception.batchInfo" class="small">Select an eligible Review Location to distribute batch {{distributeData.exception.batchInfo.batchNumber}} with {{distributeData.exception.batchInfo.caseCount}} review(s).</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="form-group">
                    <label class="small" for="distributeLocationId">Distribute To</label>
                    <select id="distributeLocationId"
                            name="distributeLocationId"
                            class="form-control input-sm"
                            [(ngModel)]="distributeData.exception.reviewLocationId">
                        <option value="">Not Assigned</option>
                        <option *ngFor="let location of distributeData.locations" [value]="location.locationId">{{location.name}} <span [class.text-danger]="location.remainingCapacity <= 0">(Remaining Capacity: {{location.remainingCapacity}})</span></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-inner-footer">
        <button type="button"
                class="btn btn-default "
                data-dismiss="modal">
            Cancel
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="cancel(distributeData.exception)">
            Cancel {{distributeData.distributeType}}
        </button>
    </div>
</modal>

<modal [(isOpen)]="batchInfoData.isOpen"
       confirmText="Assign"
       [closeOnSave]="false"
       title="Assign Batch"
       (confirmChange)="save(batchInfoData.exception)"
       (isOpenChange)="!$event ? resetBatchInfoData() : null"
       [hasCancelButton]="false">
    <form class="modal-inner-body container-fluid">
        <div class="row modal-inner-body-info">
            <div class="col-xs-12">
                <span class="small">Please select an eligible Batch Owner and Reviewer(s) for manual assignment of batch {{batchInfoData.exception.batchInfo.batchNumber}} with {{batchInfoData.exception.batchInfo.caseCount}} review(s).</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label small"
                               for="batchInfoSecondaryId">
                            Secondary ID (optional)
                        </label>
                        <input id="batchInfoSecondaryId"
                               name="batchInfoSecondaryId"
                               type="number"
                               class="form-control input-sm"
                               min="0"
                               [(ngModel)]="batchInfoData.exception.batchInfo.secondaryId">
                    </div>
                    <div class="form-group">
                        <label class="control-label small"
                               for="batchInfoOpReviewYes">
                            Operational Review
                        </label>
                        <div>
                            <label class="radio-inline">
                                <input id="batchInfoOpReviewYes"
                                       name="batchInfoOpReviewYes"
                                       type="radio"
                                       [value]="true"
                                       [(ngModel)]="batchInfoData.exception.batchInfo.requestOperationalReview">Yes
                            </label>
                            <label class="radio-inline">
                                <input id="batchInfoOpReviewNo"
                                       name="batchInfoOpReviewNo"
                                       type="radio"
                                       [value]="false"
                                       [(ngModel)]="batchInfoData.exception.batchInfo.requestOperationalReview">No
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label small"
                               for="batchInfoOpDocsYes">
                            Request Operational Documents
                        </label>
                        <div>
                            <label class="radio-inline">
                                <input id="batchInfoOpDocsYes"
                                       name="batchInfoOpDocsYes"
                                       type="radio"
                                       [value]="true"
                                       [(ngModel)]="batchInfoData.exception.batchInfo.requestOperationalDocuments"
                                       [disabled]="!batchInfoData.exception.batchInfo.requestOperationalReview">Yes
                            </label>
                            <label class="radio-inline">
                                <input id="batchInfoOpDocsNo"
                                       name="batchInfoOpDocsNo"
                                       type="radio"
                                       [value]="false"
                                       [(ngModel)]="batchInfoData.exception.batchInfo.requestOperationalDocuments"
                                       [disabled]="!batchInfoData.exception.batchInfo.requestOperationalReview">No
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="batchInfoGuidanceLabel"
                               class="control-label small"
                               for="batchInfoGuidance">
                            Operational Review Guidance
                        </label>
                        <textarea id="batchInfoGuidance"
                                  name="batchInfoGuidance"
                                  class="form-control input-sm"
                                  [(ngModel)]="batchInfoData.exception.batchInfo.requestOperationalReviewGuidance"
                                  aria-labelledby="batchInfoGuidanceLabel"
                                  rows="3"
                                  [disabled]="!batchInfoData.exception.batchInfo.requestOperationalReview">
                    </textarea>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label small"
                               for="batchInfoBatchOwner">
                            Batch Owner
                        </label>
                        <select id="batchInfoBatchOwner"
                                name="batchInfoBatchOwner"
                                class="form-control input-sm"
                                [(ngModel)]="batchInfoData.exception.batchInfo.batchOwner">
                            <option value="">Not Assigned</option>
                            <option *ngFor="let reviewer of batchInfoData.batchOwners" [value]="reviewer.reviewerId">{{reviewer.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label small"
                               for="batchInfoPeopleIds">
                            Batch Team Members
                        </label>
                        <select id="batchInfoPeopleIds"
                                name="batchInfoPeopleIds"
                                class="form-control input-sm"
                                multiple="multiple"
                                [(ngModel)]="batchInfoData.exception.batchInfo.batchTeamMembers">
                            //@formatter:off
                            <option *ngFor="let reviewer of batchInfoData.batchTeamMembers" [value]="reviewer.reviewerId">{{reviewer.name}}</option>
                            //@formatter:on
                        </select>
                    </div>
                </div>
            </div>
    </form>
    <div class="modal-inner-footer">
        <button type="button"
                class="btn btn-default "
                data-dismiss="modal">
            Cancel
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="cancel(batchInfoData.exception)">
            Cancel Batch
        </button>
    </div>
</modal>

<modal [(isOpen)]="assignmentData.isOpen"
       confirmText="Assign"
       [closeOnSave]="false"
       title="Confirm Submission"
       (confirmChange)="save(assignmentData.exception)"
       (isOpenChange)="!$event ? resetAssignmentData() : null"
       [hasCancelButton]="false">
    <form class="modal-inner-body container-fluid">
        <div class="row modal-inner-body-info">
            <div class="col-xs-12">
                <span class="small">Please select an eligible Reviewer for manual assignment.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label class="small">Review Type</label>
                <p>{{assignmentData.exception.currentReviewLevel ? assignmentData.exception.currentReviewLevel.type : ''}}</p>
            </div>
            <div class="col-xs-4">
                <label class="small">Selection Reason</label>
                <p>{{assignmentData.exception.selectionReason}}</p>
            </div>
            <div class="col-xs-5">
                <label class="small">Loan Type</label>
                <p>{{assignmentData.exception.loanType}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="form-group">
                    <label class="small" for="assignmentReviewerId">Reviewer</label>
                    <select id="assignmentReviewerId"
                            name="assignmentReviewerId"
                            class="form-control input-sm"
                            [alwaysTriggerSelectChange]="true"
                            [(ngModel)]="assignmentData.exception.assignedTo">
                        <option value="">Not Assigned</option>
                        <option *ngFor="let reviewer of assignmentData.reviewers" [value]="reviewer.reviewerId">{{reviewer.nameLast}}, {{reviewer.nameFirst}} <span [class.text-danger]="reviewer.remainingCapacity <= 0">(Remaining Capacity: {{reviewer.remainingCapacity}})</span></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-inner-footer">
        <button type="button"
                class="btn btn-default "
                data-dismiss="modal">
            Cancel
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="cancel(assignmentData.exception)">
            Cancel Review
        </button>
    </div>
</modal>

<modal [(isOpen)]="escalationData.isOpen"
       [closeOnSave]="true"
       title="HQ Escalation"
       [hasConfirmButton]="false"
       [hasCancelButton]="false">
    <form class="modal-inner-body container-fluid">
        <div class="row modal-inner-body-info">
            <div class="col-xs-12">
                <span class="small">The Lender is out of attempts at the HQ escalation review level, or the Lender is not active anymore for a QC review.</span>
            </div>
            <div class="row middle-align">

                <div class="col-xs-4">
                    <button class="btn btn-primary"
                            (click)="manageEscalation(ESCALATION_PATHS.MGMT, escalationData.exception)">MGMT Decision
                    </button>
                </div>

                <div *ngIf="!disableForceIndem" class="col-xs-4">

                    <div class="force-indem-container">
                        <form #exceptionIndemForm="ngForm">
                            <label class="list-name" for="#exceptionIndemTerms">Indem Terms:</label>
                            <select id="exceptionIndemTerms" class="form-control input-sm" name="selectedIndemTerm" [(ngModel)]="selectedIndemTerm">
                                <option value="">Select</option>
                                <option *ngFor="let type of indemnificationTypes" [value]="type.code">
                                    {{type.description}}
                                </option>
                            </select>
                        </form>
                        <button class="btn btn-primary"
                                [disabled]="!selectedIndemTerm"
                                (click)="manageEscalation(ESCALATION_PATHS.INDEM, escalationData.exception)">Force Indem
                        </button>
                    </div>
                </div>

                <div class="col-xs-4">
                    <button class="btn btn-primary"
                            (click)="manageEscalation(ESCALATION_PATHS.MRB, escalationData.exception)">Initiate MRB
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-inner-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
            Cancel
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="cancel(escalationData.exception)">
            Cancel Review
        </button>
    </div>
</modal>

<modal [(isOpen)]="requestErrorData.isOpen"
       [closeOnSave]="false"
       title="Request Error"
       (isOpenChange)="!$event ? resetRequestErrorData() : null"
       [hasCancelButton]="false"
       [hasConfirmButton]="false">
    <form class="modal-inner-body container-fluid">
        <div class="row modal-inner-body-info">
            <div class="col-xs-12">
                <span class="small">This binder request was not successful and the review must be cancelled and re-selected.</span>
            </div>
        </div>
    </form>
    <div class="modal-inner-footer">
        <button type="button"
                class="btn btn-default "
                data-dismiss="modal">
            Cancel
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="cancel(requestErrorData.exception)">
            Cancel Selection
        </button>
    </div>
</modal>
