node_modules
.temp
mavenNode
uibin
www/libs
.sass-cache
.idea
npm-debug.log
bower-debug.log
**/*.generated.*
!build/scaffolds/**/*.generated.*
**/*.DS_Store
.vagrant
.npm-cache
.npm-temp
documentation/generated
devJunk
LRSAutomation/test-output
LRSAutomation/target
LRSAutomation/bin
.metadata
u.bat
gs.bat
**/.settings
**/.factorypath
*.log*
*.sublime-project
*.sublime-workspace
terminal.glue
HUDLRS.sublime-project
HUDLRS.sublime-workspace
getlogs.bat
**/version.txt
.project
.classpath
.vscode/tasks.json
