<div class="modal fade" [id]="id" tabindex="-1" role="dialog" [attr.aria-labelledby]="labelId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="hasCloseButton">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" [id]="labelId">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <ng-content select=".modal-inner-body"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select=".modal-inner-footer"></ng-content>
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                        *ngIf="hasCloseButton && hasCancelButton">
                    {{cancelText}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        [class.disabled]="!canSave"
                        [attr.data-dismiss]="closeOnSave ? 'modal' : ''"
                        (click)="confirm()"
                        *ngIf="hasConfirmButton">
                    {{confirmText}}
                </button>
            </div>
        </div>
    </div>
</div>
