<div class="workload-container panel-group">

    <div>
        <div *ngIf="isLoading" class="lrs-loading">
            <span class="glyphicon glyphicon-refresh"
                  aria-label="loading" title="Loading">
            </span>
        </div>
        <div *ngIf="!isLoading && !filteredReviews.length" class="lrs-no-results">
            <span class="small" aria-label="no results">No results found</span>
        </div>

        <div class="reviewer-cases" *ngIf="!isLoading && filteredReviews.length">
            <sortable-table [title]="'COMPLETED REVIEWS'" [items]="filteredReviews" [categories]="categories"  [reviewRoute]="'../../../review'"></sortable-table>
        </div>
    </div>

</div>
