<div class="panel-group" [id]="getAccordionId()" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" *ngFor="let group of findingGroups;trackBy:trackGroup">
        <div class="panel-heading" role="tab" [id]="getGroupHeaderId(group)">
            <button role="button" data-toggle="collapse" [attr.data-parent]="'#' + getAccordionId()" [attr.data-target]="'#'+ getGroupId(group)" aria-expanded="false" class="collapsed btn btn-link">
                <h4 class="panel-title">
                    <span class="caret glyphicon glyphicon-menu-down"></span>
                    <span class="heading-title">{{group.name}} Finding ({{group.findings.length}})</span>
                    <span class="badge header-status">{{group.status}}</span>
                </h4>
            </button>
        </div>
        <div [id]="getGroupId(group)" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="getGroupHeaderId(group)">
            <div class="panel-body">

                <!-- Findings -->
                <div class="row" *ngFor="let finding of group.findings">
                    <div class="col-xs-12">

                        <div class="finding-item">
                            <a type="button" role="menuitem" routerLinkActive="active" [routerLink]="[getURL(finding),{originalfinding:isQC}]" class="btn">
                                <div class="finding-item-wrapper">
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <span class="finding-title">{{finding.defectAreaCode}}.{{finding.selectedSourceCode}}.{{finding.selectedCauseCode}}</span>
                                    <span class="reviewer-response-label" *ngIf="finding.mitigatedAction !== null || finding.isNewAdhoc">{{(finding.isNewAdhoc) ? 'New' : finding.mitigatedAction}}</span>
                                    <span class="finding-status-icon" aria-hidden="true" [class.danger]="(finding.ratingCode === 'U' || finding.ratingCode === 'M' || finding.ratingCode === 'R')" [class.warning]="(finding.ratingCode === 'D')" [class.conforming]="(finding.ratingCode === 'C')">{{finding.ratingCode !== 'C' ? finding.selectedTierCode : 'C'}}</span>
                                    <span class="icon-text sr-only" >{{finding.rating?.description}}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Review Wrapup Button-->
    <div class="wrap-up list-group-item" [class.selected]="globalStateSvc.reviewWrapUp">
        <a routerLinkActive="active" [routerLink]="['wrapup']" (click)="showWrapUp()">{{wrapupTitle}}</a>
    </div>
</div>
