<div class="container-fluid">
    <div>
        <div *ngIf="defectAreaLoading" class="lrs-loading">
            <span class="glyphicon glyphicon-refresh"
                  aria-label="loading" title="Loading">
            </span>
        </div>
        <div *ngIf="!defectAreaLoading && !defectArea.loanAttributes.length" class="lrs-no-results">
            <span class="small" aria-label="no results">No results found</span>
        </div>
        <div>
            <h6 aria-hidden="true">Displayed Defect Area Loan Attributes</h6>
        </div>
        <table *ngIf="!defectAreaLoading && defectArea.loanAttributes.length"
               class="table table-bordered outer-bordered header-less-bordered attributes-table">
            <tbody>
            <tr *ngFor="let loanAttribute of defectArea.loanAttributes">
                <td class="attributes-desc-col">
                    <span aria-label="Description">{{loanAttribute.fieldName}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
