<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div *ngIf="defectAreaLoading" class="lrs-loading">
                <span class="glyphicon glyphicon-refresh"
                      aria-label="loading" title="Loading">
                </span>
            </div>
            <div *ngIf="!defectAreaLoading">
                <qa-tree-questions
                    [code]="defectArea.code"
                    [questions]="defectArea.questions"
                    [loanAttributes]="defectArea.loanAttributes"
                    [sources]="defectArea.sources"
                    [causes]="defectArea.causes">
                </qa-tree-questions>
            </div>
        </div>
    </div>
</div>
