<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div *ngIf="defectAreaLoading" class="lrs-loading">
                <span class="glyphicon glyphicon-refresh"
                      aria-label="loading" title="Loading">
                </span>
            </div>
            <div *ngIf="!defectAreaLoading && !defectArea.sources.length" class="lrs-no-results">
                <span class="small" aria-label="no results">No results found</span>
            </div>
            <div>
                <h6 aria-hidden="true">Sources</h6>
            </div>
            <form>
                <table *ngIf="!defectAreaLoading && defectArea.sources.length"
                       class="table table-bordered lrs-sortable-table sources-table">
                    <tbody>
                    <tr *ngFor="let source of defectArea.sources; let i=index">
                        <td class="lrs-order-col">
                            <button type="button" class="btn btn-xs btn-default lrs-sort-up"
                                    aria-pressed="false"
                                    (click)="sortUp(defectArea.sources, source)">
                                <span class="glyphicon glyphicon-chevron-up small" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-xs btn-default lrs-sort-down"
                                    aria-pressed="false"
                                    (click)="sortDown(defectArea.sources, source)">
                                <span class="glyphicon glyphicon-chevron-down small" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="sources-code-col">
                            <input [id]="'sourceCode' + i"
                                   [name]="'sourceCode' + i"
                                   type="text"
                                   class="form-control input-sm"
                                   [ngModel]="source.code"
                                   (ngModelChange)="updateSource(source, $event)"
                                   required>
                        </td>
                        <td class="sources-desc-col">
                            <input [id]="'sourceDesc' + i"
                                   [name]="'sourceDesc' + i"
                                   type="text"
                                   class="form-control input-sm"
                                   [(ngModel)]="source.description"
                                   (ngModelChange)="askForSave()"
                                   required>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-default"
                                    (click)="removeSource(source)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div>
                <button class="btn btn-primary"
                        (click)="addSource()">
                    + Add Source
                </button>
            </div>
        </div>
        <div class="col-xs-6">
            <div *ngIf="defectAreaLoading" class="lrs-loading">
                <span class="glyphicon glyphicon-refresh"
                      aria-label="loading" title="Loading">
                </span>
            </div>
            <div *ngIf="!defectAreaLoading && !defectArea.causes.length" class="lrs-no-results">
                <span class="small" aria-label="no results">No results found</span>
            </div>
            <div>
                <h6 aria-hidden="true">Causes</h6>
            </div>
            <form>
                <table *ngIf="!defectAreaLoading && defectArea.causes.length"
                       class="table table-bordered lrs-sortable-table causes-table">
                    <tbody>
                    <tr *ngFor="let cause of defectArea.causes; let i=index">
                        <td class="causes-order-col lrs-order-col">
                            <button type="button" class="btn btn-xs btn-default lrs-sort-up"
                                    aria-pressed="false"
                                    (click)="sortUp(defectArea.causes, cause)">
                                <span class="glyphicon glyphicon-chevron-up small" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-xs btn-default lrs-sort-down"
                                    aria-pressed="false"
                                    (click)="sortDown(defectArea.causes, cause)">
                                <span class="glyphicon glyphicon-chevron-down small" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="causes-code-col">
                            <input [id]="'causeCode' + i"
                                   [name]="'causeCode' + i"
                                   type="text"
                                   class="form-control input-sm"
                                   [ngModel]="cause.code"
                                   (ngModelChange)="updateCause(cause, $event)"
                                   required>
                        </td>
                        <td class="causes-desc-col">
                            <input [id]="'causeDesc' + i"
                                   [name]="'causeDesc' + i"
                                   type="text"
                                   class="form-control input-sm"
                                   [(ngModel)]="cause.description"
                                   (ngModelChange)="askForSave()"
                                   required>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-default"
                                    (click)="removeCause(cause)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div>
                <button class="btn btn-primary"
                        (click)="addCause()">
                    + Add Cause
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default threshold-panel">
                <div class="panel-heading" role="tab" id="thresholdHeadingOne">
                    <h4 class="panel-title">
                        <a class="lrs-arrow" role="button" data-toggle="collapse" href="#thresholdCollapseOne"
                           aria-expanded="true" aria-controls="thresholdCollapseOne">
                            <span class="caret" aria-hidden="true"></span>
                            Define Acceptable Threshold
                        </a>
                    </h4>
                </div>
                <div id="thresholdCollapseOne" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="thresholdHeadingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div *ngIf="defectAreaLoading" class="lrs-loading">
                                    <span class="glyphicon glyphicon-refresh"
                                          aria-label="loading" title="Loading">
                                    </span>
                                </div>
                                <div *ngIf="!defectAreaLoading && !defectArea.sources.length" class="lrs-no-results">
                                    <span class="small" aria-label="no results">No results found</span>
                                </div>
                                <form>
                                    <table *ngIf="!defectAreaLoading && defectArea.sources.length"
                                           class="table table-bordered lrs-sortable-table threshold-table">
                                        <thead>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <th *ngFor="let cause of defectArea.causes" scope="col">
                                                [{{cause.code}}]
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let source of defectArea.sources">
                                            <th scope="row">
                                                [{{source.code}}]
                                            </th>
                                            <td *ngFor="let cause of defectArea.causes">
                                                <select class="form-control input-sm"
                                                        [ngModel]="getThreshold(source, cause).severityCode"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (ngModelChange)="saveThreshold(source, cause, $event)">
                                                    <option *ngFor="let severity of defectArea.severities"
                                                            [value]="severity.code">
                                                        {{severity.code}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
