<div class="workload-container panel-group">
    <div class="batch-title">BATCH {{activeBatch?.batchNumber}} - {{activeBatch?.lenderName}} ({{activeBatch?.lenderId}})</div>
    <div class="batch-header">
        <ul class="list-inline">
            <li class="list-inline-item sub-header">Selection Reason</li>
            <li class="list-inline-item sub-header">Date Requested</li>
            <li class="list-inline-item sub-header">Date Due</li>
            <li *ngIf="activeBatch && activeBatch.operationalDocumentsDueDate && allowUploadDocuments" class="list-inline-item sub-header">Operational Documents Due</li>
        </ul>
        <ul class="list-inline batch-info">
            <li class="list-inline-item">{{activeBatch?.selectionReason}}</li>
            <li class="list-inline-item">{{getLenderDate(activeBatch, 'dateRequested') | datePipe}}</li>
            <li class="list-inline-item">{{getLenderDate(activeBatch, 'dateDue') | datePipe}}</li>
            <li *ngIf="activeBatch && activeBatch.operationalDocumentsDueDate && allowUploadDocuments" class="list-inline-item">{{activeBatch.operationalDocumentsDueDate | datePipe}}</li>
        </ul>
    </div>
    <hr>
    <div class="operational-review">
        <sortable-defect-table *ngIf="operationalReview.length != 0" [title]="'OPERATIONAL REVIEW'" [items]="operationalReview" [categories]="categories"
                               [reviewRoute]="'../../activeReviews/review'" [findings]="operationalDefectAreas" [icon]="'edit'" [noTeamMember]="'true'" [lender]="'true'"
                               [batchLevel]="activeBatch?.reviewLevel" [batchStatus]="activeBatch?.status">
        </sortable-defect-table>
        <sortable-defect-table *ngIf="operationalReview.length===0" [title]="'OPERATIONAL REVIEW'" [items]="placeHolderReview" [categories]="categories"
                               [reviewRoute]="''" [findings]="''" [placeHolder]="'true'" [noTeamMember]="'true'">
        </sortable-defect-table>
        <div *ngIf="showDocuments" class="batch-documents">
            <div class="batch-title">OPERATIONAL REVIEW RESPONSE DOCUMENTS</div>
            <div *ngIf="activeBatch">
                <div *ngIf="activeBatch.requestOperationalDocuments && activeBatch.operationalReview && !operationalDocsUploaded">Operational document request expired ({{activeBatch.operationalDocumentsDueDate | datePipe}})</div>
                <div *ngFor="let document of activeBatch?.operationalDocuments">
                    <hr>
                    <div class="document-area">
                        <span class="glyphicon glyphicon-file pull-left" [class.success]="document.documentId" aria-label="Document" title="Document"></span>
                        <a [href]="getResponseDocumentURL(document)" target="_blank"> {{document.fileName}}
                            <span (click)="removeFile($event, document)" *ngIf="document.documentId && allowUploadDocuments" class="glyphicon glyphicon-trash done"></span>
                            <span *ngIf="!document.documentId" class="glyphicon glyphicon-trash activity"></span>

                            <span *ngIf="!document.documentId" class="glyphicon glyphicon-refresh activity pull-right" aria-label="loading" title="Loading"></span>
                            <span *ngIf="document.documentId" class="glyphicon glyphicon-ok-sign pull-right success" aria-label="Document Uploaded" title="Document Uploaded"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="sortable-table">
        <sortable-defect-table [title]="loanReviewTableHeader" [items]="activeReviews" [categories]="categories"
                               [reviewRoute]="'../../activeReviews/review'" [icon]="'harvey'" [findings]="defectAreas" [noTeamMember]="'true'" [lender]="'true'"
                               [batchLevel]="activeBatch?.reviewLevel" [batchStatus]="activeBatch?.status" >
        </sortable-defect-table>
    </div>
</div>
